@import "tailwindcss";

@theme {
  --color-scheme: dark;
}

@variant dark (&:where(.dark, .dark *));

body {
  @apply bg-gray-50 text-gray-900 dark:bg-gray-900 dark:text-gray-100;
}

.dark {
  color-scheme: dark;
}

* {
  @apply transition-colors duration-200;
}

